
/* name: shahd e alfaleet
name prject: G34 Golden House
date: 26/8/2026
email: shahedfaleet2@gmail.com
mobaile:972567485085 */
/*begin::global*/
@font-face {
    font-fdamily: ;
    src: url();
}
a{
    text-decoration: none;
}
/*end::global*/

body{
      font-family: "Black Ops One", system-ui;

}
.p1{
  /*  letter-spacing: 20px;*/
 /* word-spacing: 30px;*/
 /*line-height: 50px */
 /*background-color:#fff;*/
 /*color:#000;*/
 /*text-align:justify;*/
 /*text-transform: capitalize;*/
 /*text-decoration: line-through;*/
 /*font-size: 2.5rem;*/
 /*font-weight: bold;*/
/* font-style: italic;*/




}

